* {
    margin: 0;
    font-family: 'verdana';
    text-align: center;
    align-items: center;
    width: 1728px;
    height: 1117px;
}

header {
    width: 1728px;
    height: 118px;
    background: #F3C61F;
}

header img {
    padding: 27px 1468px 0px 58px;
    width: 202px;
    height: 63px;
}

#texto-1 {
    background: #514988;
    width: 802px;
    height: 694px;
}

.coluna {
    width: 25%;
    height: 100px;
    position: absolute;
}

.topoEsq {
    top: 118px;
    left: 0;
}

#textTit {
    width: 676px;
    height: 149px;
    color: #F3C61F;
    font-size: 70px;
}

#subtit {
    position: absolute;
    width: 676px;
    height: 149px;
    left: 58px;
    top: 149px;

    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 85px;
    display: flex;
    align-items: center;
    text-align: center;
}

#textLer {
    width: 678px;
    height: 350px;
}

.topoDir {
    top: 0px;
    left: 817px;

}

#vid {
    width: 880px;
    height: 510px;
}

.baixoEsq {
    top: 875px;
    left: 0;

}

#ingressos {
    display: flex;
    flex-direction: column;
}

#textIng {
    width: 800px;
    height: 33px;
    color: #F3C61F;
}

.sec3 {
    width:204px;
    height:204px;
}

.baixoDir {
    top: 1103px;
    left: 1350px;

}

button {
    margin-top: 10px;
    margin-left: 32%;
    display: block;
    font-size: 42px;
    border:0;
    background-color: #514988;
    border-radius: 20px;
    font-weight: bold;
    transition: all ease 0.3s;
    width: 596px;
    height: 148px;
}

button:hover {
    background-color: #F3C61F;
}